.app { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}

.pagination { background-color: lightgrey; box-shadow: 1px 1px 3px grey;
  &_arrows { color: #030303; font-weight: bold;
    &__disable { color: white; }
  }
  &_item { color: tomato; background-color: white; padding: 10px; border-radius: 4px;
    &__active { color: blue; }
  }
}